@import "tailwindcss";

.container {
    width: 100%;
    padding: 0 20 0 20;
    height: auto;
    margin-top: 6px;
}
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(64,191,255);
}

.items{
    display: flex;
    align-content: center;
    text-transform: uppercase;
    
}

.hot-deals span {
    font-weight: 600;
}

.footer {
    background-color: rgb(188,221,254);
}