@import "tailwindcss";

.container {
    width: 100%;
    padding: 0 20 0 20;
    height: auto;
    margin-top: 6px;
}


.items{
    display: flex;
    align-content: center;
    text-transform: uppercase;
    
}

.hot-deals span {
    font-weight: 600;
}